<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,700&display=swap" rel="stylesheet">
  <title>Layout</title>
</head>

<body>
  <main>
    <header id="main-header">
      <h1>Cities</h1>
    </header>

    <section id="main-section">
      <aside>
        <ul>
          <li>London</li>
          <li>Tokyo</li>
          <li>Paris</li>
        </ul>
      </aside>
      <section id="content">
        <h1>London</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatum commodi quibusdam eum est, delectus
          inventore, iste doloremque sunt deserunt quisquam? Sed repellat odit beatae deserunt possimus maxime tempore
          natus neque porro modi in magni ducimus ad, sint, nam enim. Eveniet, ab iusto. Nemo velit consequatur deleniti
          nihil eos aspernatur atque officiis! Autem nobis molestiae et laborum beatae repudiandae quidem, fugit ea
          recusandae tenetur necessitatibus natus? Sapiente atque ex ad illo incidunt odit ratione aspernatur quibusdam
          facere quia, enim voluptate earum fugit placeat laudantium. Iusto error, perspiciatis nulla praesentium, esse,
          molestias distinctio non provident consequatur et tempora quibusdam quia! Maxime!</p>
      </section>
    </section>

    <footer>
      <h2>
        Footer
      </h2>
    </footer>
  </main>

</body>

</html>