* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: 'Baloo Chettan 2', cursive;
}

header, footer {
  height: 100px;
  width: 100%;
  background-color: grey;
  text-align: center;
  font-weight: bold;
  color: white;
}

#main-section {
  display: flex;
  flex-flow: row;
}

h1, h2 {
  padding: 30px;
}

aside {
  width: 30%;
  background-color: lightgray;
}

section#content {
  max-width: 70%;
}