* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --div-yellow-clr: yellow;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

header {
  height: 100%;
  background-color: lightgrey;
}

nav {
  background-color: black;
  color: white;
}

#main-nav ul {
  list-style: none;
}

#main-nav a {
  text-decoration: none;
}

#main-nav a {
  padding: 10px;
  float: left;
}


#main-nav li:last-child {
  float: right;
}

#main-nav a:link {
  color: white;
}

#main-nav a:hover,
#main-nav li:first-of-type a {
  background-color: lightgreen;
  color: black;
}

ul::after {
  content: "";
  display: table;
  clear: both;
}

main {
  padding: 10px;
}

p {
  padding: 5px;
} 

h1 {
  text-shadow: 2px 3px 4px red;
}

@keyframes changeBorder {
  from {border: 5px solid green;}
  to { border: 5px solid red;}
}

@keyframes changeBackground {
  0%   {background:red;}
  25%  {background:yellow;}
  50%  {background:blue;}
  75%  {background:green;}
  100% {background:red;}
}

div.transition {
  margin: auto;
  width: 100px;
  height: 100px;
  /* variable obtained from root */
  background: var(--div-yellow-clr);
  /* transition-name transition-duration transition-iming-function transition-delay */
  transition: width 2s linear 0.1s;
  border: 5px solid green;
  /* animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-direction */
  animation: changeBorder 2s ease 1s infinite normal;
  animation: changeBackground 1s infinite;
}

div.transition:hover {
  width: 300px;
}
s
img {
  width: 100px;
  height: 200px;
  border: 2px solid black;
  object-fit: contain;
}

.bold {
  font-weight: bold;
}       

section {
  padding: 20px;
}

#counter {
  /* initialising counter variable */
  counter-reset: test;
}

#counter h4::before {
  /* incrementing the counter variable */
  counter-increment: test;
  /* pritning the counter variable */
  content: "Section " counter(test) " :";
}

@media screen and (max-width: 576px) {
  #main-nav a {
    float: none;
    display: block;
  }  

  #main-nav li:last-child {
    float: none;
  }
}

@media screen and (min-width: 1200px) {
  body {
    display: flex;
    flex-flow: row;
  }

  #header {
    width: 30%;
  }

  #main {
    width: 70%;
  }

  #main-nav a {
    float: none;
    display: block;
  } 
  
  #main-nav li:last-child {
    float: none;
  }
}
