@import "./SASS/helpers/mixins";
@import "./SASS/helpers/placeholders";
@import "./SASS/helpers/variables";

* {
  margin: 0px;
  padding: 0px;
  // border: 1px solid red;
}

html {
  font: {
    family: $base-font-family;
    size: $base-font-size;
  }
  color: $base-color;
  background-color: $base-background-color;
  opacity: 0.9;
  text-align: center;
  counter-reset: figNumber; 
}

#main-header {
  @include set-flexbox(flex, center, wrap);
  @include set-hw-dimension(3.13rem, 100%);
  align-items: center;
  border-bottom: $header-border-bottom;
  background-color: $base-background-color;
  position: fixed;
  z-index: 1;


  .logo {
    padding-left: 0.45rem;

    img {
      height: 2.2rem;
      object-fit: cover;
    }
  }

  nav {
    text-align: right;
    flex-grow: 1;
    
    ul {
      list-style: none;

      li {
        display: inline-block;
        padding: 0.9rem 0.45rem;

        a {
          text-decoration: underline;
          color: $base-color;
        }
      }

    }
  }
}

#main-content {
  display: flex;
  flex-flow: column;
  opacity: 0.9;
  width: 54.5rem;
  margin: auto;
}

#mission {
  height: 31.8rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-position: center;
  background-size: cover;
  @include set-flexbox(flex, center, wrap);
  padding-top: 3.1rem;

  .mission-description {
    background-color: $base-background-color;
    padding: $padding-avg;
    width: 100%;
    margin: auto;
  }
}

#tea-of-the-month {
  padding-top: 3.1rem;
  height: 31.8rem;
  margin: auto;

  .gallery {

    .row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .box {
        padding: 0.2rem;

        img {
          height: 9rem;
          margin: 0.45rem;
        }

        figcaption::after {
          counter-increment: figNumber;
          content: counter(figNumber);
        }

      }
    }
  }
}

#locations {
  padding-top: 3.18rem;
  height: 22.7rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  header {
    margin-bottom: 0.68rem;
  }

  .card-group {
    @include set-flexbox(flex, center, wrap);
    margin: auto;
    width: 50rem;

    .card {
      padding: $padding-avg;
      background-color: $base-background-color;
      flex-basis: 12.6rem;
      opacity: 1;
      padding: 0.45rem;

    
      address {
        line-height: 5rem;
      }
    }

    :not(:last-child) {
      margin-right: 1rem;
    }
  }
}

#contact {
  height: 9rem;

  .contact-child {
    padding: 0.5rem;
  }
}

#main-footer {
  padding-left: 0.9rem;
  text-align: left;
}




