* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  counter-reset: figNumber;
}

#main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 3.13rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  z-index: 1;
}

#main-header .logo {
  padding-left: 0.45rem;
}

#main-header .logo img {
  height: 2.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#main-header nav {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#main-header nav ul {
  list-style: none;
}

#main-header nav ul li {
  display: inline-block;
  padding: 0.9rem 0.45rem;
}

#main-header nav ul li a {
  text-decoration: underline;
  color: seashell;
}

#main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  opacity: 0.9;
  width: 54.5rem;
  margin: auto;
}

#mission {
  height: 31.8rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 3.1rem;
}

#mission .mission-description {
  background-color: black;
  padding: 1rem;
  width: 100%;
  margin: auto;
}

#tea-of-the-month {
  padding-top: 3.1rem;
  height: 31.8rem;
  margin: auto;
}

#tea-of-the-month .gallery .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#tea-of-the-month .gallery .row .box {
  padding: 0.2rem;
}

#tea-of-the-month .gallery .row .box img {
  height: 9rem;
  margin: 0.45rem;
}

#tea-of-the-month .gallery .row .box figcaption::after {
  counter-increment: figNumber;
  content: counter(figNumber);
}

#locations {
  padding-top: 3.18rem;
  height: 22.7rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#locations header {
  margin-bottom: 0.68rem;
}

#locations .card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  width: 50rem;
}

#locations .card-group .card {
  padding: 1rem;
  background-color: black;
  -ms-flex-preferred-size: 12.6rem;
      flex-basis: 12.6rem;
  opacity: 1;
  padding: 0.45rem;
}

#locations .card-group .card address {
  line-height: 5rem;
}

#locations .card-group :not(:last-child) {
  margin-right: 1rem;
}

#contact {
  height: 9rem;
}

#contact .contact-child {
  padding: 0.5rem;
}

#main-footer {
  padding-left: 0.9rem;
  text-align: left;
}
/*# sourceMappingURL=style.css.map */